body{
	--PlaybackControlsHeight: 100px;
}

#playbackControls{
	background-color: #222;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#playbackControls-Buttons{
	display: flex;
	justify-content: center;
	padding-block: 0.5em;
}

#playbackControls-Bar{
	display: flex;
	justify-content: center;
	padding-block: 0.5em;
}

#playbackControls-Bar-ProggressBar{
	width: 50%;
	margin-inline: 0.5em;
}