#playbackControls{
	background-color: #222;
	display: flex;
	position: fixed;
	bottom: 0px;
	width: 100%;
	justify-content: center;
	flex-direction: column;
}

#playbackControls-Buttons{
	display: flex;
	justify-content: center;
	padding-block: 0.5em;
}

#playbackControls-Bar{
	display: flex;
	justify-content: center;
	padding-block: 0.5em;
}