
/* trackCard */
.trackCard{
	margin: 1.5em;
	margin-bottom: 4em;
	text-align: center;
	border-radius: 2em;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	width: max-content;
}

.trackCard > img,
.trackCard > picture{
	transition-duration: 0.5s;
	width: 100%;
	height: auto;
	overflow: hidden;
	object-fit: cover;
	max-width: 600px;
	max-height: 600px;
}


.trackTitle{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.trackArtists{
	padding: 1em;
}