body{
	overflow: hidden;
}


.content{
	display: grid;
	height: 100vh;
	grid-template-columns: var(--SideBarWidth) 1fr 1fr;
	grid-template-rows: 5em calc(100vh - calc(5em + var(--PlaybackControlsHeight) + 2em)) var(--PlaybackControlsHeight) 2em;

	grid-template-areas:
		"header header header"
		"sideBar trackTimeline trackInfo"
		"sideBar trackTimeline playbackControls"
		"footer footer playbackControls";
}



@media only screen and (min-width: 601px) and (max-width: 1200px){
	.content{
		grid-template-areas:
			"header header header"
			"sideBar trackTimeline trackTimeline"
			"playbackControls playbackControls playbackControls"
			"footer footer footer";
	}

	#trackInfo{
		display: none;
	}
}

@media only screen and (max-width: 600px){
	.content{
		grid-template-areas:
			"header header header"
			"trackTimeline trackTimeline trackTimeline"
			"playbackControls playbackControls playbackControls"
			"footer footer footer";
	}

	#trackInfo{
		display: none;
	}

	#sideBar{
		display: none;
	}
}



header{
	grid-area: header;
}

footer{
	grid-area: footer;
}

#sideBar{
	grid-area: sideBar;
}

#trackTimeline{
	grid-area: trackTimeline;
	overflow: auto;
}

#trackInfo{
	grid-area: trackInfo;
}

#playbackControls{
	grid-area: playbackControls;
}