<footer class="shaded">
	<link rel="stylesheet" type="text/css" href="<%= PageData.PathToRoot %>Public/StyleSheets/CommonStyles/FooterStyle.css">

	<div class="footerHolder">

		<p id="copyRight" class="reveal fromLeft left">©2021 Louie Jones-Strong</p>
	</div>
</footer>
