<link rel="stylesheet" type="text/css" href="<%= PageData.PathToRoot %>Public/StyleSheets/CommonStyles/HeaderStyle.css">
<!-- used for light/dark mode icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<Header class="shaded">
	<a id="headerLogo" href="/index.html">
		<img src="<%= PageData.PathToRoot %>Public/Assets/Logo/Logo.png" alt="Logo">
	</a>
	<nav>
		<h1>Music Finder</h1>
	</nav>
</Header>