body{
	--PlaybackControlsHeight: 100px;
}

#playbackControls{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#playbackControls-Buttons{
	display: flex;
	justify-content: center;
	padding-block: 0.5em;
}

#playbackControls-Bar{
	display: flex;
	justify-content: center;
	padding-block: 0.5em;
}

#playbackControls-Bar-ProgressBar{
	/* -webkit-appearance: none; */
	outline: none;
	cursor: pointer;
	width: 50%;
	margin-inline: 0.5em;

	--Height: 8px;

	height: var(--Height);
	border-radius: calc(var(--Height) / 2);

	background: #111;
	/* overflow: hidden; */
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

/* devicePopup */
#devices{
	position: relative;
}

#devicePopup{
	position: absolute;
	bottom: 1.25em;
	background-color: var(--ColourMain4);
	padding: 0.5em;
	border-radius: 0.5em;
}