
.content{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loginPopup{
	text-align: center;
	padding: 2em;
}

.loginButton{
	padding: 0.5em;
	background-color: var(--ColourMain);
	color: var(--ColourMain-Contrast);
	border-radius: 0.5em;
}